@media (min-width: 1170px) {
    header {
        width:100%;
        margin:0 auto;
        position: fixed;
        top:0;
    }
}
header div {
    width: 100%;
    transform: translateY(-100%);
    position: absolute;
    
}
@media (min-width: 992px) and (max-width: 1170px) {
header {
    height: 70vh;
    width: auto;
    }}
header div {
    position: relative;
    align-content: flex-start;
    transform: translateX(50%);
    top: 0;
}

@media (max-width: 991px) {
header {
    height: 80vh;
    width: 80vw;
}
header div {
    top: 110%;
    color: #000;
    text-align: center;
}
