/*
.rotate img{
    transform: rotate(35deg);
    transform-origin: 0% 0%;
}
.translate img {
    transform: translate(150px,300px);
}
.scale img {
    transform: scale (0.3);
}
 Animacja*/


@keyframes resize {
    0%, 100% {
        height: 300px;
        opacity: .1;
    }
    50% {
    height: 50px;
        opacity: 1;
    }
    100% {
        height: 300px;
    }
}
.animation img{
    animation-name: resize;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}