@media (min-width: 1170px) {
    header {
        width:100%;
        margin:0 auto;
        position: absolute;
        top:0;
    }
}
header div {
   width: 80%; 
    height: 80vh;
    right: 550px;
    display: table-cell;
    vertical-align: middle;
}
@media (min-width: 992px) and (max-width: 1170px) {
header {
    height: 70vh;
    background-image: url(man-2.jpg);
    }}
header div {
    position: relative;
    align-content: flex-start;
    transform: translateX(110%);
    top: 20%;
}
header div h1, header div h2 {
    margin-left: 0;
}

@media (max-width: 991px) {
header {
    height: 50vh;
    background-position:center;
  
}
header div {
    top: 10%;
    color: #000;
    transform: translateY(180%);
    left: 120px;
    position: relative;
    
}
    header div h1, header div h2 {
    text-align: center;
}
