* {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    color: white;
    margin:0;
}

header {
    background-image: url(man-1.jpg);
    background-size:cover;
    height: 100vh;
    width: 100%;
    
}

header div {
    text-transform:uppercase;
    position: absolute;
    top: 50%;
    margin: 100px;
    transform: translateY(-50%);
    
}